<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include("partials/header.ejs")  %>
    <section class="hero">

  <h1>Welcome to My Blog</h1>

  <p>
    Thoughts, tutorials and stories about
    technology, travel and life.
  </p>

  <a href="#posts" >
    <button>Explore posts</button> 
  </a>

</section>

   <section class="content-layout">

  <!-- Posts Section -->

  <div class="posts-section" id="posts">

  <% if(posts.length === 0){ %>

    <div class="empty-posts">

      <h2>No Posts Yet 📝</h2>

      <p>
        Start sharing your thoughts with the world.
        Create your first blog post now!
      </p>

      <a href="/compose" class="compose-btn">
        Compose Your First Post
      </a>

    </div>

  <% } else { %>

    <% posts.forEach((post,id) => { %>

      <div class="post-card">

        <img
  src="<%= post.image %>"
  alt="<%= post.title %>"
>

        <div class="post-content">

          <div class="category">
            <%= post.category || "General" %>
          </div>

          <h2>
            <%= post.title %>
          </h2>

          <p>
            <%= post.content.substring(0,150) %>...
          </p>

          <div class="post-actions">

            <a href="/posts/<%= post.id %>" class="read-more">
              Read More →
            </a>

            <a
              href="/edit/<%= post.id %>"
              class="edit-btn"
            >
              Edit
            </a>

            <form action="/delete/<%= post.id %>" method="POST">
              <button type="submit" class="delete-btn">
                Delete
              </button>
            </form>

          </div>

        </div>

      </div>

    <% }) %>

  <% } %>

</div>
  <!-- Sidebar -->

  <aside class="sidebar">

    <!-- Categories -->

   <div class="widget">

  <h3>Categories</h3>

  <% Object.entries(categoryStats).forEach(([category,count]) => { %>

    <div class="category-item">

      <span><%= category %></span>

      <span class="count">
        <%= count %>
      </span>

    </div>

  <% }) %>

</div>

    <!-- Latest Posts -->

    <div class="widget">

      <h3>Latest Posts</h3>

      <% latestPosts.forEach(post => { %>

        <div class="latest-post">

          <a href="/posts/<%= post.title %>">

            <%= post.title %>

          </a>

        </div>

      <% }) %>

    </div>

  </aside>

</section>
     
    <%- include("partials/footer.ejs")  %>
</body>
</html>